*{
    margin:0;
    padding: 0;
    }
    header{
    top:0;
    left:0;
    align-items: center;
    width: 100%;
    height:100px;
    background-color: #46897c;
    display: inline-flex;
    justify-content: space-around;
    }
    #contador-productos{
    font-size: 15px;
    font-family: sans-serif;
    }
    .container-cart-products{
    z-index:1;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    width: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius:10px;
    }
    .cart-product{
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    }
    .info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
    }
    .titulo-producto-carrito{
    font-size: 20px;
    }
    .precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    }
    .cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
    }
    .icon-close{
    width: 25px;
    height: 25px;
    }
    .icon-close:hover{
    stroke: red;
    cursor: pointer;
    }
    .cart-total{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
    align-items: center;
    }
    .cart-total h3{
    font-size: 20px;
    font-weight: 700;
    }
    .total-pagar{
    font-size: 20px;
    font-weight: 900;
    }
    .hidden-cart{
    display: none;
    }
    .count-products{
    position: absolute;
    top: 55%;
    right: 0;
    background-color: white;
    color: black;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    }
    img{
    max-width:100%;
    }
    .logo{
    text-decoration: none;
    display:flex;
    align-items: center;
    padding:14px;
    width:25%;
    }
    .logo img{
    margin-right:20px;
    width: 65px;
    height: 65px;
    border-radius:50%;
    }
    h1{
    font-size: 35px;
    color:white;
    }
    #ctn-bars-search{
    width: 300px;
    padding: 10px;
    }
    #ctn-bars-search input{
      width: 275px;
      padding: 10px;
      font-size: 13,5px;
      outline: 0;
    }
    #box-search{
      position: fixed;
      top: 80px;
      width: 297px;
      background-color:white;
      z-index: 8;
      overflow: hidden;
      left: 50%;
      transform: translate(-73%);
      display: none;
      box-shadow:0px 0px 10px 0px rgb(0, 0, 0,5);
    
    }
    #box-search li a{
      display: block;
      width:324px ;
      color: #172c3e;
      text-decoration: none;
      padding: 12px 10px;
      font-family: sans-serif;
    }
    #box-search li a:hover{
      background-color:#81bfb3 ;
    }
    .icon-cart{
    width: 40px;
    height: 40px;
    stroke: white;
    }
    .icon-cart:hover{
    cursor: pointer;
    }
    .container-icon{
    position: relative;       
    }
    nav > ul > li > a:hover{
    transform: scale(1.1);
    background-color:#2d907a;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 10px 10px 10px 10px;
    }
    nav ul li ul a{
    text-decoration: none;
    color: white;
    padding: 10px;
    }
    nav ul li ul{
    width: 100px; 
    display: flex;
    flex-direction: column;
    background-color:#2d907a;
    position: absolute;
    top: 90px;
    opacity:0;
    vertical-align: hidden;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    border-radius: 10px 10px 10px 10px;
    }
    nav ul li:hover ul{
    padding: 5px;
    transition: all .4s;
    visibility: visible;
    opacity: 1;
    top: 70px;
    }
    nav li{
    display:inline-flex;
    }
    nav > ul > li > a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size:20px;
    width: 70px;
    padding:0px 20px;
    justify-content: space-between;
 }
    .cart-empty{
    padding: 20px;
    text-align: center;
    }
    .container-items{
        margin-top: 80px;
        display: block;
        gap: 40px;
        width:100%;
    }
    .item img{
        width: 300px;
        height: 300px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        transition: all .4s;
    }
.item{
    border-radius: 10px;
    }
.item:hover{
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
   }
.item:hover img{
   transform: scale(1.2);
   .btn-wsp{
    position: fixed;
    width:55px;
    height: 55px;
    line-height:55px;
    bottom: 30px;
    right: 30px;
    background-color: #00bb2d;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.btn-wsp:hover{
    text-decoration: none;
    color: #00bb2d;
    background-color: white;
}
    .btn-ig{
      position: fixed;
      width:55px;
      height: 55px;
      line-height:55px;
      bottom: 100px;
      right: 30px;
      background-color: #dd2a7b;
      color: white;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
      z-index: 100;
    }
    .btn-ig:hover{
      text-decoration: none;
      color: #dd2a7b;
      background-color:white;
    }
    footer{
      width:97,5%;
      height:300px;
      background-color: #46897c;
      padding: 40px 0px;
      margin-top:40px;
    }
    .grupo-1{
      width:97,5%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 90px ;
    }
    .grupo-1 .box{
      justify-content: center;
      align-items: center;
    }
    .grupo-1 .box .figure{
      width: 100%;
      height: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
    }
    .logofoot {
      margin-left: 180px;
      justify-content: center;
      align-items: center;
      width: 500px;
    }
    
    h5{
      padding: 40px 0px;
      align-items: center;
      color: white;
      margin-bottom: 25px;
      font-size: 20px ;
    }
    .grupo-1 .box p{
      color: #efefef;
      margin-bottom: 10px;
    }
    .grupo-1 .red-social a{
     display: inline-block;
     text-decoration: none;
     width: 45px;
     height: 45px;
     line-height: 45px;
     color: white;
     margin-right: 10px;
     background-color: #44c5a9 ;
     text-align: center;
    }
    .grupo-2{
      background-color:#44c5a9 ;
      padding: 15px 10px;
      text-align: center;
      color: white;
    }
    .grupo-2 small{
      font-size: 15px ;
    }
    @media (max-width:700px){
      header{
        flex-direction: column;
      }
    }